<section>
  <div id='funnel-footer' class="fullContainer noTopMargin padding20-top padding20-bottom padding40H borderSolid cornersAll radius0 shadow0 bgNoRepeat emptySection borderLightTop border10px" id="section--39479" data-title="Section" data-block-color="0074C7" style="padding-top: 20px; padding-bottom: 20px; outline: none; background-color: rgb(36, 36, 36); border-color: rgb(71, 117, 185);" data-trigger="none" data-animate="fade" data-delay="500">
    <div class="containerInner ui-sortable">
      <div class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" id="row-162" data-trigger="none" data-animate="fade" data-delay="500" data-title="1 column row" style="padding-top: 20px; padding-bottom: 20px; margin: 0px; outline: none;">
        <div id="col-full-103-149" class="col-md-12 innerContent col_left" data-col="full" data-trigger="none" data-animate="fade" data-delay="500" data-title="1st column" style="outline: none;">
          <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
            <div class="de elImageWrapper de-image-block elMargin0 ui-droppable elAlign_center de-editable" id="img-42491-186" data-de-type="img" data-de-editing="false" data-title="image" data-ce="false" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 0px; outline: none; cursor: pointer;" aria-disabled="false">
              <a class="footer-brand text-light" href="/">WAYS OF THE GUITAR</a>
            </div>
            <div class="de de-nav elMargin0 ui-droppable elAlign_center de-editable" id="tmp_nav-23825-128" data-de-type="nav" data-de-editing="false" data-title="navigation" data-ce="false" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 10px; outline: none; cursor: pointer;" aria-disabled="false">
              <nav class="nodoNav elLinkBold elLinkSize1 slide elLinks4">
                <ul>
                  <li class="footer-links nodoNavItem">
                    <a href="#open-popup-1" class="nav1link nodoNavLink" style="color: rgb(255, 255, 255); font-size: 14px;">Order
                      Now</a></li>
                  <li class="footer-links nodoNavItem">
                    <a href="https://forms.gle/VoHPhkWHBJEYj7w59" style="color: rgb(255, 255, 255); font-size: 14px;" target="_blank">Support</a>
                  </li>
                  <li class="footer-links nodoNavItem">
                    <a href="" class="nav3link nodoNavLink" style="color: rgb(255, 255, 255); font-size: 14px;" target="_blank">Affiliates</a>
                  </li>
                  <li class="footer-links nodoNavItem">
                    <a href="" class="nav4link nodoNavLink" style="color: rgb(255, 255, 255); font-size: 14px;" target="_blank">Login</a>
                  </li>
                  <li class="footer-links nodoNavItem">
                    <a href="#" class="nav5link nodoNavLink" style="color: rgb(255, 255, 255); font-size: 14px;">Link
                      Five</a></li>
                </ul>
              </nav>
            </div>
            <div class="de elHeadlineWrapper ui-droppable de-editable" id="tmp_paragraph-32208-144" data-de-type="headline" data-de-editing="false" data-title="Paragraph" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 10px; outline: none; cursor: pointer;" aria-disabled="false">
              <div class="ne elHeadline hsSize1 lh5 elMargin0 elBGStyle0 hsTextShadow0 mfs_14" data-bold="inherit" style="text-align: center; color: rgb(255, 255, 255);" data-gramm="false" contenteditable="false">
                Introducing Untuned Groove Records, LLC - a dynamic new record label based out of the heart of
                Nashville, Tennessee. Dedicated to bringing the best in modern rock music to audiences around the world,
                Untuned Groove Records is a company that's passionate about discovering and nurturing new talent.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" id="row-189" data-trigger="none" data-animate="fade" data-delay="500" data-title="1 column row" style="padding: 20px 0px; margin: 0px; outline: none;">
        <div id="col-full-129-130-100-132-153-131-112" class="col-md-12 innerContent col_left" data-col="full" data-trigger="none" data-animate="fade" data-delay="500" data-title="1st column" style="outline: none;">
          <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
            <div class="de elHeadlineWrapper ui-droppable de-editable" id="tmp_paragraph-95559-109-178-180-100-170-180" data-de-type="headline" data-de-editing="false" data-title="Paragraph" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 20px; outline: none; cursor: pointer; font-family: Lato, Helvetica, sans-serif !important;" aria-disabled="false" data-google-font="Lato">
              <div class="ne elHeadline hsSize1 lh5 elMargin0 elBGStyle0 hsTextShadow0" data-bold="inherit" style="text-align: center; color: rgb(255, 255, 255); font-size: 14px;" contenteditable="false" spellcheck="false">
                Untuned Groove Records © 2023. All Rights Reserved.&nbsp;

                <div><span style="background-color: rgba(255, 255, 255, 0);"><br></span></div>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<div id="layoutDefault_footer">-->
<!--  <footer class="footer pt-10 pb-5 mt-auto bg-white footer-light">-->
<!--    <div class="container px-5">-->
<!--      <hr class="my-5"/>-->
<!--      <div class="row gx-5 align-items-center">-->
<!--        <div class="col-md-6 small">Copyright &copy; BobCekay.com 2023</div>-->
<!--        <div class="col-md-6 text-md-end small">-->
<!--          <a target="_blank" href="https://forms.gle/VoHPhkWHBJEYj7w59">Contact & Questions</a>-->
<!--          &middot;-->
<!--          <a target="_blank" href="#!">Terms &amp; Conditions</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </footer>-->
<!--</div>-->