<div class="page-header-ui page-header-ui-dark bg-img-repeat bg-light" style="background-image: url('')">
  <div class="page-header-ui-content">
    <div class="container px-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-12">
          <h1 class="page-header-ui-title">
            <%= @lesson.name %>
          </h1>
        </div>
      </div>
      <div class="row gx-5 align-items-center">
        <div class="col-lg-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              id="main-banner-video"
              class="embed-responsive-item"
              src="https://www.youtube.com/embed/<%= @lesson.youtubeUrl %>"
            >
            </iframe>
          </div>
          <p class="page-header-ui-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>