<nav id="navbar" class="navbar navbar-marketing navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a id="navbar-brand" class="text-light" href="/">WAYS OF THE GUITAR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-light" href="<%= course_dashboard_path %>">COURSES</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ACCOUNT
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="<%= edit_user_registration_path %>">My Account</a>
            <div class="dropdown-divider"></div>
            <div><%= link_to "Sign out", destroy_user_session_path, :class => 'dropdown-item', data: { turbo_method: :delete }  %></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>