<div class="row flex-nowrap">
  <div class="col-auto col-md-3 col-xl-3 px-0 bg-dark">
    <div class="d-flex flex-column align-items-center align-items-sm-start pt-2 text-white min-vh-100">
      <%= render 'shared/sidebar' %>
    </div>
  </div>
  <div class="col py-3">
    <%= render :partial => "shared/course/lesson" %>
  </div>
</div>