<div id="layoutDefault_footer">
  <footer class="footer pt-10 pb-5 mt-auto bg-white footer-light">
    <div class="container px-5">
      <hr class="my-5"/>
      <div class="row gx-5 align-items-center">
        <div class="col-md-6 small">Copyright &copy; BobCekay.com 2023</div>
        <div class="col-md-6 text-md-end small">
          <a href="#!">Privacy Policy</a>
          &middot;
          <a href="#!">Terms &amp; Conditions</a>
        </div>
      </div>
    </div>
  </footer>
</div>