<nav id="home-navbar" class="navbar navbar-marketing navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a id="navbar-brand" class="text-light" href="/">BOB CEKAY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-light" target="_blank" href="https://open.spotify.com/artist/2JOqj6ivZzBBzKuIF3C1yA">SPOTIFY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" target="_blank" href="https://music.apple.com/us/artist/bob-cekay/1622501420">APPLE MUSIC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" target="_blank" href="https://www.youtube.com/channel/UCvMVTd9YOYZy_2tpB-R8CLQ?sub_confirmation=1">YOUTUBE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" target="_blank" href="https://www.skool.com/way-of-the-guitar-5694/about">WAYS OF THE GUITAR</a>
        </li>

<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--            Dropdown-->
<!--          </a>-->
<!--          <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--            <a class="dropdown-item" href="#">Action</a>-->
<!--            <a class="dropdown-item" href="#">Another action</a>-->
<!--            <div class="dropdown-divider"></div>-->
<!--            <a class="dropdown-item" href="#">Something else here</a>-->
<!--          </div>-->
<!--        </li>-->
      </ul>
    </div>
  </div>
</nav>