<div class="flex-shrink-0 p-3 bg-dark" style="width: 266px;">
  <a href="/" class="d-flex align-items-center pb-3 mb-3 link-light text-decoration-none border-bottom">
    <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-5 fw-semibold">Lessons</span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded text-white" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
        Introduction
      </button>
      <div class="collapse show" id="home-collapse" style="">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small text-white">
          <li><a href="#" class="link-light rounded">Welcome!</a></li>
          <li><a href="#" class="link-light rounded">What you can expect from this course?</a></li>
          <li><a href="#" class="link-light rounded">How to use this course</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
        Mindset
      </button>
      <div class="collapse" id="dashboard-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-light rounded">Who do you want to be as a guitar player?</a></li>
<!--          <li><a href="#" class="link-dark rounded">Why are you playing guitar?</a></li>-->
          <li><a href="#" class="link-light rounded">Play guitar don’t work guitar</a></li>
          <li><a href="#" class="link-light rounded">Sing what you play!</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        Mindset
      </button>
      <div class="collapse text-white" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-light rounded">New</a></li>
          <li><a href="#" class="link-light rounded">Processed</a></li>
          <li><a href="#" class="link-light rounded">Shipped</a></li>
          <li><a href="#" class="link-light rounded">Returned</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        Intervals
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-light rounded">New</a></li>
          <li><a href="#" class="link-light rounded">Processed</a></li>
          <li><a href="#" class="link-light rounded">Shipped</a></li>
          <li><a href="#" class="link-light rounded">Returned</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        Major Scale
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-light rounded">New</a></li>
          <li><a href="#" class="link-light rounded">Processed</a></li>
          <li><a href="#" class="link-light rounded">Shipped</a></li>
          <li><a href="#" class="link-light rounded">Returned</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        Chords
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-light rounded">New</a></li>
          <li><a href="#" class="link-light rounded">Processed</a></li>
          <li><a href="#" class="link-light rounded">Shipped</a></li>
          <li><a href="#" class="link-light rounded">Returned</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        Chord Tones
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-light rounded">New</a></li>
          <li><a href="#" class="link-light rounded">Processed</a></li>
          <li><a href="#" class="link-light rounded">Shipped</a></li>
          <li><a href="#" class="link-light rounded">Returned</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        Pentatonic Scale
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-light rounded">New</a></li>
          <li><a href="#" class="link-light rounded">Processed</a></li>
          <li><a href="#" class="link-light rounded">Shipped</a></li>
          <li><a href="#" class="link-light rounded">Returned</a></li>
        </ul>
      </div>
    </li>

    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        Modes of the Major Scale
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-light rounded">New</a></li>
          <li><a href="#" class="link-light rounded">Processed</a></li>
          <li><a href="#" class="link-light rounded">Shipped</a></li>
          <li><a href="#" class="link-light rounded">Returned</a></li>
        </ul>
      </div>
    </li>

    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        Interval Patterns
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-light rounded">New</a></li>
          <li><a href="#" class="link-light rounded">Processed</a></li>
          <li><a href="#" class="link-light rounded">Shipped</a></li>
          <li><a href="#" class="link-light rounded">Returned</a></li>
        </ul>
      </div>
    </li>

    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        Rhythmic Patterns
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-light rounded">New</a></li>
          <li><a href="#" class="link-light rounded">Processed</a></li>
          <li><a href="#" class="link-light rounded">Shipped</a></li>
          <li><a href="#" class="link-light rounded">Returned</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        Song Writing
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-light rounded">New</a></li>
          <li><a href="#" class="link-light rounded">Processed</a></li>
          <li><a href="#" class="link-light rounded">Shipped</a></li>
          <li><a href="#" class="link-light rounded">Returned</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        Solos and Improvisation
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-light rounded">New</a></li>
          <li><a href="#" class="link-light rounded">Processed</a></li>
          <li><a href="#" class="link-light rounded">Shipped</a></li>
          <li><a href="#" class="link-light rounded">Returned</a></li>
        </ul>
      </div>
    </li>

    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        The End
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-light rounded">New</a></li>
          <li><a href="#" class="link-light rounded">Processed</a></li>
          <li><a href="#" class="link-light rounded">Shipped</a></li>
          <li><a href="#" class="link-light rounded">Returned</a></li>
        </ul>
      </div>
    </li>
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
        Account
      </button>
      <div class="collapse" id="account-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">New...</a></li>
          <li><a href="#" class="link-dark rounded">Profile</a></li>
          <li><a href="#" class="link-dark rounded">Settings</a></li>
          <li><a href="#" class="link-dark rounded">Sign out</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>