<section class="bg-white py-5">
  <div class="container px-5">
    <div class="text-uppercase-expanded text-end mb-5 text-gray-300">Here's where you get with the album</div>
    <div class="row gx-5 brands text-gray-500 align-items-center">
      <div class="content-card col-sm-12 col-lg-4 d-flex justify-content-center mb-5 mb-lg-0">
        <img src="<%= image_path('real_majik_cover.jpeg') %>" width="80%" tabindex="0">
        <p>Digital Download of all 6 BRAND NEW Songs.</p>
      </div>
      <div class="content-card col-sm-12 col-lg-4 d-flex justify-content-center mb-5 mb-lg-0">
        <img src="<%= image_path('real_majik_cover.jpeg') %>" width="80%" tabindex="0">
        FREE copy of the audio book "Making of Real Majik"
      </div>
      <div class="content-card col-sm-12 col-lg-4 d-flex justify-content-center mb-5 mb-sm-0">
        <img src="<%= image_path('real_majik_cover.jpeg') %>" width="80%" tabindex="0">
        FREE copy of the E-book "Making of Real Majik"
      </div>
    </div>
  </div>
</section>