



    <div
      class="container fullContainer noTopMargin padding20-top padding20-bottom padding40H noBorder borderSolid border3px cornersAll radius0 shadow0 bgNoRepeat emptySection"
      id="section--57184"
      data-title="Section"
      data-block-color="0074C7"
      style="padding-top: 10px; padding-bottom: 20px; outline: none"
      data-trigger="none"
      data-animate="fade"
      data-delay="500"
    >
      <div class="containerInner ui-sortable">
        <div
          class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin"
          id="row--23476"
          data-trigger="none"
          data-animate="fade"
          data-delay="500"
          data-title="2 column row"
          style="padding: 5px 10px 10px; margin: 0px; outline: none"
          col-array="8,4"
        >
          <div
            id="col-left-116"
            class="innerContent col_left ui-resizable col-md-8"
            data-col="left"
            data-trigger="none"
            data-animate="fade"
            data-delay="500"
            data-title="1st column"
            style="outline: none"
          >
            <div
              class="col-inner bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin"
              style="padding: 0px"
            >
              <div
                class="de elHeadlineWrapper ui-droppable de-editable"
                id="tmp_headline1-59966"
                data-de-type="headline"
                data-de-editing="false"
                data-title="headline-proximo"
                data-ce="true"
                data-trigger="none"
                data-animate="fade"
                data-delay="500"
                style="margin-top: 0px; outline: none; cursor: pointer"
                aria-disabled="false"
              >
                <div
                  class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0"
                  style="text-align: center; font-size: 44px"
                  data-bold="inherit"
                  data-gramm="false"
                  contenteditable="false"
                >
                  <b>BFB SHARE - Perfect Shopify Funnel</b>
                </div>
              </div>
              <div style="padding: 56.25% 0 0 0; position: relative">
                <iframe
                  src="https://player.vimeo.com/video/393504307?autoplay=1&amp;muted=1&amp;title=0&amp;byline=0&amp;portrait=0"
                  style="
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                  "
                  allow="autoplay; fullscreen"
                  allowfullscreen=""
                  data-ready="true"
                  frameborder="0"
                ></iframe>
              </div>
              <script src="https://player.vimeo.com/api/player.js"></script>
            </div>
          </div>
          <div
            id="col-right-119"
            class="innerContent col_right ui-resizable col-md-4"
            data-col="right"
            data-trigger="none"
            data-animate="fade"
            data-delay="500"
            data-title="createAccountColumn"
            style="outline: none"
          >
            <div
              class="col-inner bgCover borderSolid cornersAll radius0 P0-top P0-bottom P0H noTopMargin shadow10 border2px noBorder"
              style="
                padding: 10px;
                background-color: rgb(255, 255, 255);
                border-color: rgb(231, 231, 231);
              "
            >
              <div
                class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable"
                id="tmp_image-36864"
                data-de-type="img"
                data-de-editing="false"
                data-title="image"
                data-ce="false"
                data-trigger="none"
                data-animate="fade"
                data-delay="500"
                style="margin-top: 0px; outline: none; cursor: pointer"
                aria-disabled="false"
              >
                <img
                  src=""
                  class="elIMG ximg"
                  alt="Bob Cekay"
                  tabindex="0"
                  width="175"
                />
              </div>
              <div
                class="de elHeadlineWrapper ui-droppable de-editable"
                id="tmp_headline1-52022"
                data-de-type="headline"
                data-de-editing="false"
                data-title="headline-proximo"
                data-ce="true"
                data-trigger="none"
                data-animate="fade"
                data-delay="500"
                style="
                  margin-top: 20px;
                  outline: none;
                  cursor: pointer;
                  background-color: rgb(250, 250, 250);
                "
                aria-disabled="false"
              >
                <div
                  class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0"
                  style="
                    text-align: center;
                    font-size: 28px;
                    color: rgb(231, 79, 56);
                    background-color: rgb(245, 245, 245);
                  "
                  data-bold="inherit"
                  data-gramm="false"
                  contenteditable="false"
                >
                  <b>Get Your FREE 14 Day Trial:</b>
                </div>
              </div>
              <div
                class="de elHeadlineWrapper ui-droppable de-editable"
                id="tmp_subheadline-31180"
                data-de-type="headline"
                data-de-editing="false"
                data-title="sub-headline"
                data-ce="true"
                data-trigger="none"
                data-animate="fade"
                data-delay="500"
                data-gramm="false"
                style="
                  margin-top: -3px;
                  outline: none;
                  cursor: pointer;
                  background-color: rgb(250, 250, 250);
                "
                aria-disabled="false"
              >
                <div
                  class="ne elHeadline hsSize2 lh3 elMargin0 elBGStyle0 hsTextShadow0 padding5"
                  style="
                    text-align: center;
                    font-size: 18px;
                    background-color: rgb(245, 245, 245);
                  "
                  data-bold="inherit"
                  data-gramm="false"
                  contenteditable="false"
                >
                  Simply Enter Your Email and Create a Password:
                </div>
              </div>
              <div
                class="de elBullet elMargin0 ui-droppable de-editable"
                id="tmp_list-77681"
                data-de-type="list"
                data-de-editing="false"
                data-title="icon bullet list"
                data-ce="true"
                data-trigger="none"
                data-animate="fade"
                data-delay="500"
                data-gramm="false"
                style="margin-top: 15px; outline: none; cursor: pointer"
                aria-disabled="false"
              >
                <ul
                  class="ne elBulletList elBulletListNew elBulletList2 listBorder0"
                  data-bold="inherit"
                  data-gramm="false"
                  contenteditable="false"
                >
                  <li style="font-size: 16px">
                    <i class="fa fa-fw fa-check"></i> Simple drag and drop
                    webpage editor!
                  </li>
                  <li style="font-size: 16px">
                    <i class="fa fa-fw fa-check"></i> Quickly build sales
                    funnels that convert!
                  </li>
                  <li style="font-size: 16px">
                    <i class="fa fa-fw fa-check"></i> Smart shopping cart with 1
                    click up-sells!
                  </li>
                  <li style="font-size: 16px">
                    <i class="fa fa-fw fa-check"></i> Email and Facebook
                    Marketing Automation!<br />
                  </li>
                  <li style="font-size: 16px">
                    <i class="fa fa-fw fa-check"></i> Everything organized in
                    one simple dashboard!<br />
                  </li>
                </ul>
              </div>
              <form
                class="simple_form simple_form form-horizontal new_user"
                id="new_user"
                action="/users"
                accept-charset="UTF-8"
                method="post"
                novalidate=""
              >
                <input name="utf8" type="hidden" value="✓" /><input
                  type="hidden"
                  name="authenticity_token"
                  value="XwkxraEkzuDNBGlbsvmNG3DXsnY0FFr1Hv3vhYGc8oBr9ZNVrvuIMn1dxkFKNTV+rnUlLy23RNg5hHG0kMeKYQ=="
                />
                <div
                  class="de elInputWrapper de-input-block elAlign_center elMargin0 ui-droppable de-editable"
                  id="tmp_input-20488"
                  data-de-type="input"
                  data-de-editing="false"
                  data-title="input"
                  data-ce="false"
                  data-trigger="none"
                  data-animate="fade"
                  data-delay="500"
                  type="email"
                  style="margin-top: 0px; outline: none; cursor: pointer"
                  aria-disabled="false"
                >
                  <input
                    required="required"
                    autofocus="autofocus"
                    label="false"
                    autocomplete="off"
                    class="string email required elInput elInput100 elAlign_left elInputMid elInputStyl0 elInputBG1 elInputBR5 elInputI0 elInputIBlack elInputIRight required0 ceoinput garlic-auto-save"
                    style="font-size: 16px"
                    aria-required="true"
                    placeholder="Your Email Address..."
                    type="email"
                    value=""
                    name="user[email]"
                    id="user_email"
                    data-parsley-id="9207"
                  />
                  <ul class="parsley-errors-list" id="parsley-id-9207"></ul>
                </div>
                <div
                  class="de elInputWrapper de-input-block elAlign_center elMargin0 ui-droppable de-editable"
                  id="input-91539"
                  data-de-type="input"
                  data-de-editing="false"
                  data-title="input"
                  data-ce="false"
                  data-trigger="none"
                  data-animate="fade"
                  data-delay="500"
                  type="custom_type"
                  style="margin-top: 10px; outline: none; cursor: pointer"
                  aria-disabled="false"
                >
                  <input
                    required="required"
                    class="password required elInput elInput100 elAlign_left elInputMid elInputStyl0 elInputBG1 elInputBR5 elInputI0 elInputIBlack elInputIRight required0 ceoinput"
                    style="width:100% !important;important;margin-top:10px;"
                    label="false"
                    aria-required="true"
                    placeholder="Choose your password..."
                    type="password"
                    name="user[password]"
                    id="user_password"
                    data-parsley-id="1637"
                  />
                  <ul class="parsley-errors-list" id="parsley-id-1637"></ul>
                </div>
                <br />
                <input
                  data-param="affiliate_id"
                  name="user[owned_account_attributes][affiliate_id]"
                  type="hidden"
                />
                <input
                  data-param="cf_affiliate_id"
                  name="user[owned_account_attributes][cf_affiliate_id]"
                  type="hidden"
                />
                <input
                  data-param="aff_sub"
                  name="user[owned_account_attributes][aff_sub]"
                  type="hidden"
                />
                <input
                  data-param="aff_sub2"
                  name="user[owned_account_attributes][aff_sub2]"
                  type="hidden"
                />
                <input name="secret" type="hidden" value="" />
                <input name="member[page_key]" type="hidden" value="" />
                <button
                  type="submit"
                  class="elButton elButtonSize1 elButtonColor1 elButtonRounded elButtonPadding2 elBtnVP_10 elButtonCorner3 elBtnHP_25 elBTN_b_1 elButtonShadowN1 elButtonTxtColor1 elButtonFull"
                  style="
                    color: rgb(255, 255, 255);
                    font-weight: 600;
                    background-color: rgb(94, 171, 127);
                    font-size: 26px;
                  "
                >
                  <span class="elButtonMain">Start Your FREE 14 Day Trial</span>
                  <span class="elButtonSub" style="font-size: 16px"
                    >Build Your First Funnel For FREE Right Now!</span
                  >
                </button>
              </form>
              <div
                class="de elHeadlineWrapper ui-droppable de-editable"
                id="tmp_paragraph-43665"
                data-de-type="headline"
                data-de-editing="false"
                data-title="Paragraph"
                data-ce="true"
                data-trigger="none"
                data-animate="fade"
                data-delay="500"
                style="margin-top: 5px; outline: none; cursor: pointer"
                aria-disabled="false"
              >
                <div
                  class="ne elHeadline hsSize1 lh5 elMargin0 elBGStyle0 hsTextShadow0"
                  data-bold="inherit"
                  style="text-align: center; font-size: 14px"
                  data-gramm="false"
                  contenteditable="false"
                >
                  <a
                    data-target="#myModal"
                    data-toggle="modal"
                    href="#"
                    style="width: 75% !important"
                    >I'm Already a ClickFunnels User &gt;&gt;</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>







    <div
      class="container fullContainer noTopMargin padding20-top padding20-bottom padding40H noBorder borderSolid border3px cornersAll radius0 shadow0 bgNoRepeat emptySection"
      id="section--25174"
      data-title="Section"
      data-block-color="0074C7"
      style="padding-top: 35px; padding-bottom: 35px; outline: none"
      data-trigger="none"
      data-animate="fade"
      data-delay="500"
    >
      <div class="containerInner ui-sortable">
        <div
          class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin"
          id="row--14901"
          data-trigger="none"
          data-animate="fade"
          data-delay="500"
          data-title="2 column row"
          style="
            padding-top: 20px;
            padding-bottom: 20px;
            margin: 0px;
            outline: none;
          "
          col-array="6,6"
        >
          <div
            id="col-left-161"
            class="innerContent col_left ui-resizable col-md-6"
            data-col="left"
            data-trigger="none"
            data-animate="fade"
            data-delay="500"
            data-title="1st column"
            style="outline: none"
          >
            <div
              class="col-inner bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin"
              style="padding: 0 10px"
            >
              <div
                class="de elHeadlineWrapper ui-droppable de-editable"
                id="tmp_headline1-85001"
                data-de-type="headline"
                data-de-editing="false"
                data-title="headline-arrows"
                data-ce="true"
                data-trigger="none"
                data-animate="fade"
                data-delay="500"
                style="
                  margin-top: 25px;
                  outline: none;
                  cursor: pointer;
                  font-family: 'Source Sans Pro', Helvetica, sans-serif !important;
                "
                aria-disabled="false"
                data-google-font="Source+Sans+Pro"
              >
                <div
                  class="ne elHeadline hsSize3 elMargin0 elBGStyle0 hsTextShadow0 lh1"
                  style="text-align: left; font-size: 64px"
                  data-bold="inherit"
                  data-gramm="false"
                  contenteditable="false"
                >
                  YOU CAN
                  <div>EDIT <b>ANYTHING</b></div>
                </div>
              </div>
              <div
                class="de elHeadlineWrapper ui-droppable de-editable"
                id="tmp_subheadline-70013"
                data-de-type="headline"
                data-de-editing="false"
                data-title="sub-headline"
                data-ce="true"
                data-trigger="none"
                data-animate="fade"
                data-delay="500"
                data-gramm="false"
                style="margin-top: 0px; outline: none; cursor: pointer"
                aria-disabled="false"
              >
                <div
                  class="ne elHeadline hsSize2 lh3 elMargin0 elBGStyle0 hsTextShadow0"
                  style="text-align: left; font-size: 38px"
                  data-bold="inherit"
                  data-gramm="false"
                  contenteditable="false"
                >
                  <b> You Like On These Pages!</b>
                </div>
              </div>
              <div
                class="de elSeperator elMargin0 ui-droppable de-editable"
                id="tmp_divider-62503"
                data-de-type="divider"
                data-de-editing="false"
                data-title="Divider"
                data-ce="false"
                data-trigger="none"
                data-animate="fade"
                data-delay="500"
                style="margin-top: 10px; outline: none; cursor: pointer"
                aria-disabled="false"
              >
                <div
                  class="elDivider elDividerStyle1 padding10-top padding10-bottom"
                >
                  <div
                    class="elDividerInner"
                    data-width-border="25"
                    data-height-border="3"
                    style="border-color: rgb(50, 112, 191)"
                  ></div>
                </div>
              </div>
              <div
                class="de elHeadlineWrapper ui-droppable de-editable"
                id="tmp_paragraph-60993"
                data-de-type="headline"
                data-de-editing="false"
                data-title="Paragraph"
                data-ce="true"
                data-trigger="none"
                data-animate="fade"
                data-delay="500"
                style="margin-top: 15px; outline: none; cursor: pointer"
                aria-disabled="false"
              >
                <div
                  class="ne elHeadline hsSize1 lh5 elMargin0 elBGStyle0 hsTextShadow0"
                  data-bold="inherit"
                  style="text-align: left; font-size: 16px"
                  data-gramm="false"
                  contenteditable="false"
                >
                  With just a simple drag and drop you can add your name, change
                  text, add images, videos, bullets, pop-ups and so much more
                  with ClickFunnels! It's powerful enough that you can create
                  <b>ANY Type Of Funnel</b> that you can imagine, yet simple
                  enough that you can just plugin YOUR message into any of our
                  pre-built funnels!
                </div>
              </div>
              <div
                class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable"
                id="tmp_image-31575"
                data-de-type="img"
                data-de-editing="false"
                data-title="image"
                data-ce="false"
                data-trigger="none"
                data-animate="fade"
                data-delay="500"
                style="
                  margin-top: 30px;
                  outline: none;
                  display: block;
                  cursor: pointer;
                "
                aria-disabled="false"
              >
                <img
                  src="//goto.clickfunnels.com/hosted/images/20/71ccf05d3c11e8b4d54766cf1cce10/arrow1.png"
                  class="elIMG ximg"
                  alt=""
                  tabindex="0"
                />
              </div>
              <div
                class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable"
                id="img-10184"
                data-de-type="img"
                data-de-editing="false"
                data-title="image"
                data-ce="false"
                data-trigger="none"
                data-animate="fade"
                data-delay="500"
                style="
                  margin-top: 30px;
                  outline: none;
                  display: block;
                  cursor: pointer;
                "
                aria-disabled="false"
              >
                <img
                  src="//goto.clickfunnels.com/hosted/images/20/4035a05d3c11e89d97d1bd932bfd30/arrow2.png"
                  class="elIMG ximg"
                  alt=""
                  tabindex="0"
                />
              </div>
            </div>
          </div>
          <div
            id="col-right-122"
            class="innerContent col_right ui-resizable col-md-6"
            data-col="right"
            data-trigger="none"
            data-animate="fade"
            data-delay="500"
            data-title="2nd column"
            style="outline: none"
          >
            <div
              class="col-inner bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin"
              style="padding: 0 10px"
            >
              <div
                class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable"
                id="tmp_image-58971"
                data-de-type="img"
                data-de-editing="false"
                data-title="image"
                data-ce="false"
                data-trigger="none"
                data-animate="fade"
                data-delay="500"
                style="margin-top: 0px; outline: none; cursor: pointer"
                aria-disabled="false"
              >
                <img
                  src="//goto.clickfunnels.com/hosted/images/d6/e3ff405d3b11e8b89313eab8e8a20e/drag_and_drop.png"
                  class="elIMG ximg"
                  alt=""
                  tabindex="0"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



