



    <div
      class="container fullContainer noTopMargin padding20-top padding20-bottom padding40H noBorder borderSolid border3px cornersAll radius0 shadow0 bgNoRepeat emptySection"
    >
      <div class="containerInner ui-sortable">
        <div
          class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin"
          id="row--23476"
          style="padding: 5px 10px 10px; margin: 0px; outline: none"
          col-array="8,4"
        >
          <div
            id="col-left-116"
            class="innerContent col_left ui-resizable col-md-8"
            data-title="1st column"
            style="outline: none"
          >
            <div
              class="col-inner bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin"
              style="padding: 0px"
            >
              <div
                class="de elHeadlineWrapper ui-droppable de-editable"
                id="tmp_headline1-59966"
                style="margin-top: 0px; outline: none; cursor: pointer"
                aria-disabled="false"
              >
                <div
                  class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0"
                  style="text-align: center; font-size: 44px"
                >
                  <b>Bob Cekay - Real Majik</b>
                </div>
              </div>
              <div style="padding: 56.25% 0 0 0; position: relative">
                <iframe
                  src="https://player.vimeo.com/video/393504307?autoplay=1&amp;muted=1&amp;title=0&amp;byline=0&amp;portrait=0"
                  style="
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                  "
                  allow="autoplay; fullscreen"
                  allowfullscreen=""
                  data-ready="true"
                  frameborder="0"
                ></iframe>
              </div>
              <script src="https://player.vimeo.com/api/player.js"></script>
            </div>
          </div>
          <div
            id="col-right-119"
            class="innerContent col_right ui-resizable col-md-4"
            style="outline: none"
          >
            <div
              class="col-inner bgCover borderSolid cornersAll radius0 P0-top P0-bottom P0H noTopMargin shadow10 border2px noBorder"
              style="
                padding: 10px;
                background-color: rgb(255, 255, 255);
                border-color: rgb(231, 231, 231);
              "
            >
              <div
                class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable"
                id="tmp_image-36864"
                style="margin-top: 0px; outline: none; cursor: pointer"
                aria-disabled="false"
              >
                <img
                  src=""
                  class="elIMG ximg"
                  alt="Bob Cekay"
                  tabindex="0"
                  width="175"
                />
              </div>
              <div
                class="de elHeadlineWrapper ui-droppable de-editable"
                id="tmp_headline1-52022"
                style="
                  margin-top: 20px;
                  outline: none;
                  cursor: pointer;
                  background-color: rgb(250, 250, 250);
                "
                aria-disabled="false"
              >
                <div
                  class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0 hsTextShadow0"
                  style="
                    text-align: center;
                    font-size: 28px;
                    color: rgb(231, 79, 56);
                    background-color: rgb(245, 245, 245);
                  "
                  data-bold="inherit"
                  data-gramm="false"
                  contenteditable="false"
                >
                  <b>Get Your FREE Copy of Real Majik today:</b>
                </div>
              </div>
              <div
                class="de elHeadlineWrapper ui-droppable de-editable"
                id="tmp_subheadline-31180"
                style="
                  margin-top: -3px;
                  outline: none;
                  cursor: pointer;
                  background-color: rgb(250, 250, 250);
                "
              >
                <div
                  class="ne elHeadline hsSize2 lh3 elMargin0 elBGStyle0 hsTextShadow0 padding5"
                  style="
                    text-align: center;
                    font-size: 18px;
                    background-color: rgb(245, 245, 245);
                  "
                >
                  Instant Album Download:
                </div>
              </div>
              <div
                class="de elBullet elMargin0 ui-droppable de-editable"
                id="tmp_list-77681"
                style="margin-top: 15px; outline: none; cursor: pointer"
                aria-disabled="false"
              >
                <ul
                  class="ne elBulletList elBulletListNew elBulletList2 listBorder0"
                  data-bold="inherit"
                  data-gramm="false"
                  contenteditable="false"
                >
                  <li style="font-size: 16px">
                    <i class="fa fa-fw fa-check"></i>
                    Bob Cekay's newest album!
                  </li>
                  <li style="font-size: 16px">
                    <i class="fa fa-fw fa-check"></i>
                    7 Brand new unreleased songs!
                  </li>
                  <li style="font-size: 16px">
                    <i class="fa fa-fw fa-check"></i>
                    Recorded in Nashville, Tennessee
                  </li>
                  <li style="font-size: 16px">
                    <i class="fa fa-fw fa-check"></i>
                    Making of E-book!
                    <br />
                  </li>
                  <%# <li style="font-size: 16px">
                    <i class="fa fa-fw fa-check"></i>

                    <br />
                  </li> %>
                </ul>
              </div>
              <form
                class="simple_form simple_form form-horizontal new_user"
                id="new_user"
                action="/create_checkout_session"
                accept-charset="UTF-8"
                method="post"
                novalidate=""
              >
                <br />
                <button
                  type="submit"
                  class="elButton elButtonSize1 elButtonColor1 elButtonRounded elButtonPadding2 elBtnVP_10 elButtonCorner3 elBtnHP_25 elBTN_b_1 elButtonShadowN1 elButtonTxtColor1 elButtonFull"
                  style="
                    color: rgb(255, 255, 255);
                    font-weight: 600;
                    background-color: rgb(94, 171, 127);
                    font-size: 26px;
                  "
                >
                  <span class="elButtonMain">
                    Get your FREE copy of Real Majik Today!
                  </span>
                  <span class="elButtonSub" style="font-size: 16px">
                    Listen Now!
                  </span>
                </button>
              </form>
              <div
                class="de elHeadlineWrapper ui-droppable de-editable"
                id="tmp_paragraph-43665"
                style="margin-top: 5px; outline: none; cursor: pointer"
              >
                <div
                  class="ne elHeadline hsSize1 lh5 elMargin0 elBGStyle0 hsTextShadow0"
                  data-bold="inherit"
                  style="text-align: center; font-size: 14px"
                >
                  <a style="width: 75% !important">
                    I'm Already a fan &gt;&gt;
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>







    <div
      class="container fullContainer noTopMargin padding20-top padding20-bottom padding40H noBorder borderSolid border3px cornersAll radius0 shadow0 bgNoRepeat emptySection"
      id="section--25174"
      data-title="Section"
      data-block-color="0074C7"
      style="padding-top: 35px; padding-bottom: 35px; outline: none"
      data-trigger="none"
      data-animate="fade"
      data-delay="500"
    >
      <div class="containerInner ui-sortable">
        <div
          class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin"
          id="row--14901"
          style="
            padding-top: 20px;
            padding-bottom: 20px;
            margin: 0px;
            outline: none;
          "
          col-array="6,6"
        >
          <div
            id="col-left-161"
            class="innerContent col_left ui-resizable col-md-6"
            style="outline: none"
          >
            <div
              class="col-inner bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin"
              style="padding: 0 10px"
            >
              <div
                class="de elHeadlineWrapper ui-droppable de-editable"
                id="tmp_headline1-85001"
                style="
                  margin-top: 25px;
                  outline: none;
                  cursor: pointer;
                  font-family: 'Source Sans Pro', Helvetica, sans-serif !important;
                "
              >
                <div
                  class="ne elHeadline hsSize3 elMargin0 elBGStyle0 hsTextShadow0 lh1"
                  style="text-align: left; font-size: 64px"
                  data-bold="inherit"
                  data-gramm="false"
                  contenteditable="false"
                >
                  YOU CAN
                  <div>EDIT <b>ANYTHING</b></div>
                </div>
              </div>
              <div
                class="de elHeadlineWrapper ui-droppable de-editable"
                id="tmp_subheadline-70013"
                style="margin-top: 0px; outline: none; cursor: pointer"
                aria-disabled="false"
              >
                <div
                  class="ne elHeadline hsSize2 lh3 elMargin0 elBGStyle0 hsTextShadow0"
                  style="text-align: left; font-size: 38px"
                  data-bold="inherit"
                  data-gramm="false"
                  contenteditable="false"
                >
                  <b> You Like On These Pages!</b>
                </div>
              </div>
              <div
                class="de elSeperator elMargin0 ui-droppable de-editable"
                id="tmp_divider-62503"
                style="margin-top: 10px; outline: none; cursor: pointer"
                aria-disabled="false"
              >
                <div
                  class="elDivider elDividerStyle1 padding10-top padding10-bottom"
                >
                  <div
                    class="elDividerInner"
                    data-width-border="25"
                    data-height-border="3"
                    style="border-color: rgb(50, 112, 191)"
                  ></div>
                </div>
              </div>
              <div
                class="de elHeadlineWrapper ui-droppable de-editable"
                id="tmp_paragraph-60993"
                style="margin-top: 15px; outline: none; cursor: pointer"

              >
                <div
                  class="ne elHeadline hsSize1 lh5 elMargin0 elBGStyle0 hsTextShadow0"
                  data-bold="inherit"
                  style="text-align: left; font-size: 16px"
                  data-gramm="false"
                  contenteditable="false"
                >
                  With just a simple drag and drop you can add your name, change
                  text, add images, videos, bullets, pop-ups and so much more
                  with ClickFunnels! It's powerful enough that you can create
                  <b>ANY Type Of Funnel</b> that you can imagine, yet simple
                  enough that you can just plugin YOUR message into any of our
                  pre-built funnels!
                </div>
              </div>
              <div
                class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable"
                id="tmp_image-31575"
                style="
                  margin-top: 30px;
                  outline: none;
                  display: block;
                  cursor: pointer;
                "
              >
                <img
                  src="//goto.clickfunnels.com/hosted/images/20/71ccf05d3c11e8b4d54766cf1cce10/arrow1.png"
                  class="elIMG ximg"
                  alt=""
                  tabindex="0"
                />
              </div>
              <div
                class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable"
                id="img-10184"
                style="
                  margin-top: 30px;
                  outline: none;
                  display: block;
                  cursor: pointer;
                "
                aria-disabled="false"
              >
                <img
                  src="//goto.clickfunnels.com/hosted/images/20/4035a05d3c11e89d97d1bd932bfd30/arrow2.png"
                  class="elIMG ximg"
                  alt=""
                  tabindex="0"
                />
              </div>
            </div>
          </div>
          <div
            id="col-right-122"
            class="innerContent col_right ui-resizable col-md-6"
            style="outline: none"
          >
            <div
              class="col-inner bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin"
              style="padding: 0 10px"
            >
              <div
                class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable"
                id="tmp_image-58971"
                style="margin-top: 0px; outline: none; cursor: pointer"
              >
                <img
                  src="//goto.clickfunnels.com/hosted/images/d6/e3ff405d3b11e8b89313eab8e8a20e/drag_and_drop.png"
                  class="elIMG ximg"
                  alt=""
                  tabindex="0"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



