<section class="buy-button">
  <div class="page-header-ui-content">
    <div class="">
      <div class="row align-items-center">
        <div class="col-sm-12 col-md-8 offset-md-2">
          <a href="<%= href %>" target='_blank'>
            <button id="show-modal-button" type="button"  class="btn btn-dark">
              <i id='cart-icon' class="bi bi-cart"></i>
              <p><%= button_text.html_safe %></p>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>