<section>
  <div class="everything-you-get">
    <div class="everything-you-get-header row bgCover borderSolid cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin borderLight border1px" id="row--11968" data-trigger="none" data-animate="fade" data-delay="500" data-title="1 column row" style="">
      <div id="col-full-117" class="col-md-12 innerContent col_left" data-col="full" data-trigger="none" data-animate="fade" data-delay="500" data-title="1st column" style="outline: none;">
        <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
          <div class="de ui-droppable de-editable" id="headline-85828" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="ran" data-animate="top" data-delay="500" style="outline: none; cursor: pointer; opacity: 1; position: relative; top: 0px;" aria-disabled="false">
            <div class="everything-you-get-header ne elHeadline elMargin0 elBGStyle0 hsTextShadow0 hsSize4 deneg1pxLetterSpacing lh4 mfs_22" data-bold="inherit" contenteditable="false">
              <font color="#ffffff">
                <b>Let Me Show You EVERYTHING You Get When You Order 'Real Majik' Today!</b>
              </font>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="everything-you-get-body row bgCover borderSolid cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin borderLight border1px" id="row--11968-148-132" data-trigger="none" data-animate="fade" data-delay="500" data-title="1 column row - Clone - Clone" style="">
      <div id="col-full-117-168-101" class="col-md-12 innerContent col_left" data-col="full" data-trigger="none" data-animate="fade" data-delay="500" data-title="1st column" style="outline: none;">
        <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
          <div class="container fullContainer noTopMargin padding20-top padding20-bottom padding40H noBorder borderSolid border3px cornersAll radius0 shadow0 bgNoRepeat emptySection" id="section--86300" data-title="theStackReplacer" data-block-color="0074C7" style="padding-top: 20px; padding-bottom: 20px; outline: none;" data-trigger="none" data-animate="fade" data-delay="500">
            <div class="containerInner ui-sortable" style="padding-left: 0px; padding-right: 0px;">
              <div class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" id="row-180" data-trigger="none" data-animate="fade" data-delay="500" data-title="2 column row" style="padding: 5px 0px; margin: 0px; outline: none;">
                <div id="col-left-163-122" class="innerContent col_left ui-resizable col-md-8" data-col="left" data-trigger="none" data-animate="fade" data-delay="500" data-title="1st column" style="outline: none;">
                  <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
                    <div class="de ui-droppable de-editable" id="headline-46417-183" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="ran" data-animate="top" data-delay="500" style="outline: none; cursor: pointer; margin-top: 0px; opacity: 1; position: relative; top: 0px;" aria-disabled="false">
                      <div class="everything-you-get-body-item-name ne elHeadline elMargin0 elBGStyle0 hsTextShadow0 hsSize4 lh1 deneg1pxLetterSpacing mfs_18" style="" data-bold="inherit" contenteditable="false">
                        <i class="fa_prepended fas fa-check" contenteditable="false" style="color: rgb(71, 117, 185);"></i><b>&nbsp; </b>
                        <b><i>Real Majik</i></b> Download
                      </div>
                    </div>
                  </div>
                </div>
                <div id="col-right-142-168" class="innerContent col_right ui-resizable col-md-4" data-col="right" data-trigger="none" data-animate="fade" data-delay="500" data-title="2nd column" style="outline: none;">
                  <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
                    <div class="de ui-droppable de-editable" id="headline-35897-177" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="ran" data-animate="top" data-delay="500" style="outline: none; cursor: pointer; margin-top: 0px; opacity: 1; position: relative; top: 0px;" aria-disabled="false">
                      <div class="everything-you-get-body-item-value ne elHeadline elMargin0 elBGStyle0 hsTextShadow0 hsSize4 lh1 deneg1pxLetterSpacing mfs_18" data-bold="inherit" contenteditable="false">
                        <b>($24.95 Value)</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--              <div class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" id="row-121" data-trigger="none" data-animate="fade" data-delay="500" data-title="2 column row - Clone" style="padding: 5px 0px; margin: 0px; outline: none;">-->
              <!--                <div id="col-left-163-145-164" class="innerContent col_left ui-resizable col-md-8" data-col="left" data-trigger="none" data-animate="fade" data-delay="500" data-title="1st column" style="outline: none;">-->
              <!--                  <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">-->
              <!--                    <div class="de ui-droppable de-editable" id="headline-46417-172-128" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="ran" data-animate="top" data-delay="500" style="outline: none; cursor: pointer; margin-top: 0px; opacity: 1; position: relative; top: 0px;" aria-disabled="false">-->
              <!--                      <div class="ne elHeadline elMargin0 elBGStyle0 hsTextShadow0 hsSize4 lh1 deneg1pxLetterSpacing mfs_18" style="text-align: left; color: rgb(45, 45, 45); font-size: 24px;" data-bold="inherit" contenteditable="false">-->
              <!--                        <i class="fa_prepended fas fa-check" contenteditable="false" style="color: rgb(71, 117, 185);"></i><b>&nbsp; </b>-->
              <!--                        <b><i>Making of 'Real Majik'</i></b> Audio Book-->
              <!--                      </div>-->
              <!--                    </div>-->
              <!--                  </div>-->
              <!--                </div>-->
              <!--                <div id="col-right-142-179-117" class="innerContent col_right ui-resizable col-md-4" data-col="right" data-trigger="none" data-animate="fade" data-delay="500" data-title="2nd column" style="outline: none;">-->
              <!--                  <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">-->
              <!--                    <div class="de ui-droppable de-editable" id="headline-35897-172-101" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="ran" data-animate="top" data-delay="500" style="outline: none; cursor: pointer; margin-top: 0px; opacity: 1; position: relative; top: 0px;" aria-disabled="false">-->
              <!--                      <div class="ne elHeadline elMargin0 elBGStyle0 hsTextShadow0 hsSize4 lh1 deneg1pxLetterSpacing mfs_18" style="text-align: right; color: rgb(45, 45, 45); font-size: 24px;" data-bold="inherit" contenteditable="false">-->
              <!--                        <b>&nbsp;</b><b>($17.00 Value)</b>-->
              <!--                      </div>-->
              <!--                    </div>-->
              <!--                  </div>-->
              <!--                </div>-->
              <!--              </div>-->
              <div class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" id="row-152" data-trigger="none" data-animate="fade" data-delay="500" data-title="2 column row - Clone - Clone" style="padding: 5px 0px; margin: 0px; outline: none;">
                <div id="col-left-163-145-179-126" class="innerContent col_left ui-resizable col-md-8" data-col="left" data-trigger="none" data-animate="fade" data-delay="500" data-title="1st column" style="outline: none;">
                  <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
                    <div class="de ui-droppable de-editable" id="headline-46417-172-118-178" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="ran" data-animate="top" data-delay="500" style="outline: none; cursor: pointer; margin-top: 0px; opacity: 1; position: relative; top: 0px;" aria-disabled="false">
                      <div class="everything-you-get-body-item-name ne elHeadline elMargin0 elBGStyle0 hsTextShadow0 hsSize4 lh1 deneg1pxLetterSpacing mfs_18"data-bold="inherit" contenteditable="false">
                        <i class="fa_prepended fas fa-check" contenteditable="false" style="color: rgb(71, 117, 185);"></i><b>&nbsp; </b>
                        <b><i>Turquoise Ring</i></b> Download
                      </div>
                    </div>
                  </div>
                </div>
                <div id="col-right-142-179-129-128" class="innerContent col_right ui-resizable col-md-4" data-col="right" data-trigger="none" data-animate="fade" data-delay="500" data-title="2nd column" style="outline: none;">
                  <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
                    <div class="de ui-droppable de-editable" id="headline-35897-172-114-139" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="ran" data-animate="top" data-delay="500" style="outline: none; cursor: pointer; margin-top: 0px; opacity: 1; position: relative; top: 0px;" aria-disabled="false">
                      <div class="everything-you-get-body-item-value ne elHeadline elMargin0 elBGStyle0 hsTextShadow0 hsSize4 lh1 deneg1pxLetterSpacing mfs_18" data-bold="inherit" contenteditable="false">
                        <b>($5.00 Value)</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" id="row-152" data-trigger="none" data-animate="fade" data-delay="500" data-title="2 column row - Clone - Clone" style="padding: 5px 0px; margin: 0px; outline: none;">
                <div id="col-left-163-145-179-126" class="innerContent col_left ui-resizable col-md-8" data-col="left" data-trigger="none" data-animate="fade" data-delay="500" data-title="1st column" style="outline: none;">
                  <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
                    <div class="de ui-droppable de-editable" id="headline-46417-172-118-178" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="ran" data-animate="top" data-delay="500" style="outline: none; cursor: pointer; margin-top: 0px; opacity: 1; position: relative; top: 0px;" aria-disabled="false">
                      <div class="everything-you-get-body-item-name ne elHeadline elMargin0 elBGStyle0 hsTextShadow0 hsSize4 lh1 deneg1pxLetterSpacing mfs_18" data-bold="inherit" contenteditable="false">
                        <i class="fa_prepended fas fa-check" contenteditable="false" style="color: rgb(71, 117, 185);"></i><b>&nbsp; </b>
                        <b><i>On the Road</i></b> Download
                      </div>
                    </div>
                  </div>
                </div>
                <div id="col-right-142-179-129-128" class="innerContent col_right ui-resizable col-md-4" data-col="right" data-trigger="none" data-animate="fade" data-delay="500" data-title="2nd column" style="outline: none;">
                  <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
                    <div class="de ui-droppable de-editable" id="headline-35897-172-114-139" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="ran" data-animate="top" data-delay="500" style="outline: none; cursor: pointer; margin-top: 0px; opacity: 1; position: relative; top: 0px;" aria-disabled="false">
                      <div class="everything-you-get-body-item-value ne elHeadline elMargin0 elBGStyle0 hsTextShadow0 hsSize4 lh1 deneg1pxLetterSpacing mfs_18" data-bold="inherit" contenteditable="false">
                        <b>($5.00 Value)</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" id="row-152" data-trigger="none" data-animate="fade" data-delay="500" data-title="2 column row - Clone - Clone" style="padding: 5px 0px; margin: 0px; outline: none;">
                <div id="col-left-163-145-179-126" class="innerContent col_left ui-resizable col-md-8" data-col="left" data-trigger="none" data-animate="fade" data-delay="500" data-title="1st column" style="outline: none;">
                  <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
                    <div class="de ui-droppable de-editable" id="headline-46417-172-118-178" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="ran" data-animate="top" data-delay="500" style="outline: none; cursor: pointer; margin-top: 0px; opacity: 1; position: relative; top: 0px;" aria-disabled="false">
                      <div class="everything-you-get-body-item-name ne elHeadline elMargin0 elBGStyle0 hsTextShadow0 hsSize4 lh1 deneg1pxLetterSpacing mfs_18" data-bold="inherit" contenteditable="false">
                        <i class="fa_prepended fas fa-check" contenteditable="false" style="color: rgb(71, 117, 185);"></i><b>&nbsp; </b>
                        <b><i>I've been Away</i></b> Download
                      </div>
                    </div>
                  </div>
                </div>
                <div id="col-right-142-179-129-128" class="innerContent col_right ui-resizable col-md-4" data-col="right" data-trigger="none" data-animate="fade" data-delay="500" data-title="2nd column" style="outline: none;">
                  <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
                    <div class="de ui-droppable de-editable" id="headline-35897-172-114-139" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="ran" data-animate="top" data-delay="500" style="outline: none; cursor: pointer; margin-top: 0px; opacity: 1; position: relative; top: 0px;" aria-disabled="false">
                      <div class="everything-you-get-body-item-value ne elHeadline elMargin0 elBGStyle0 hsTextShadow0 hsSize4 lh1 deneg1pxLetterSpacing mfs_18" data-bold="inherit" contenteditable="false">
                        <b>($5.00 Value)</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row bgCover noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" id="row-143" data-trigger="none" data-animate="fade" data-delay="500" data-title="2 column row - Clone - Clone - Clone" style="padding: 5px 0px; margin: 0px; outline: none;">
                <div id="col-left-163-145-179-184-141" class="innerContent col_left ui-resizable col-md-8" data-col="left" data-trigger="none" data-animate="fade" data-delay="500" data-title="1st column" style="outline: none;">
                  <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
                    <div class="de ui-droppable de-editable" id="headline-46417-172-118-114-151" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="ran" data-animate="top" data-delay="500" style="outline: none; cursor: pointer; margin-top: 0px; opacity: 1; position: relative; top: 0px;" aria-disabled="false">
                      <div class="everything-you-get-body-item-name ne elHeadline elMargin0 elBGStyle0 hsTextShadow0 hsSize4 lh1 deneg1pxLetterSpacing mfs_18" data-bold="inherit" contenteditable="false">
                        <i class="fa_prepended fas fa-check" contenteditable="false" style="color: rgb(71, 117, 185);"></i><b>&nbsp; </b>
                        <b><i>Makin 'Real Majik'</i></b> E-Book
                      </div>
                    </div>
                  </div>
                </div>
                <div id="col-right-142-179-129-166-161" class="innerContent col_right ui-resizable col-md-4" data-col="right" data-trigger="none" data-animate="fade" data-delay="500" data-title="2nd column" style="outline: none;">
                  <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
                    <div class="de ui-droppable de-editable" id="headline-35897-172-114-160-122" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="ran" data-animate="top" data-delay="500" style="outline: none; cursor: pointer; margin-top: 0px; opacity: 1; position: relative; top: 0px;" aria-disabled="false">
                      <div class="everything-you-get-body-item-value ne elHeadline elMargin0 elBGStyle0 hsTextShadow0 hsSize4 lh1 deneg1pxLetterSpacing mfs_18" data-bold="inherit" contenteditable="false">
                        <b>($17.00 Value)</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="de ui-droppable de-editable" id="headline-58079" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="ran" data-animate="top" data-delay="500" style="outline: none; cursor: pointer; margin-top: 10px; opacity: 1; position: relative; top: 0px;" aria-disabled="false">
            <div class="everything-you-get-grand-total-value ne elHeadline elMargin0 elBGStyle0 hsTextShadow0 hsSize4 lh1 deneg1pxLetterSpacing mfs_26" data-bold="inherit" contenteditable="false">
              <b>Total Value: 56.95</b></div>
          </div>
          <div class="de ui-droppable de-editable" id="headline-88306-132" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="ran" data-animate="top" data-delay="500" style="outline: none; cursor: pointer; margin-top: 20px; opacity: 1; position: relative; top: 0px;" aria-disabled="false">
            <div class="everything-you-get-body-secondary-text ne elHeadline elMargin0 elBGStyle0 hsTextShadow0 hsSize4 lh1 deneg1pxLetterSpacing mfs_26" style="" data-bold="inherit" contenteditable="false">
              <b>Get Your Copy Today For</b></div>
          </div>
          <div class="de ui-droppable de-editable" id="headline-36885-186" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="ran" data-animate="top" data-delay="500" style="outline: none; cursor: pointer; margin-top: 0px; opacity: 1; position: relative; top: 0px;" aria-disabled="false">
            <div class="everything-you-get-final-price ne elHeadline elMargin0 elBGStyle0 hsTextShadow0 hsSize4 deneg1pxLetterSpacing mfs_72 lh0" data-bold="inherit" contenteditable="false">
              <b>$9.99</b></div>
          </div>
          <div class="de ui-droppable de-editable" id="headline-58768-110" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="ran" data-animate="top" data-delay="500" style="outline: none; cursor: pointer; margin-top: 0px; opacity: 1; position: relative; top: 0px;" aria-disabled="false">
            <div class="everything-you-get-body-secondary-text ne elHeadline elMargin0 elBGStyle0 hsTextShadow0 hsSize4 lh1 deneg1pxLetterSpacing mfs_25" data-bold="inherit" contenteditable="false">
              <b>All that for less then lunch!!!</b></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>