<section>
  <div class="container">
    <div id="col-full-123" class="col-md-8 offset-md-2 innerContent col_left" data-col="full" data-trigger="none" data-animate="fade" data-delay="500" data-title="1st column" style="outline: none;">
      <div class="col-inner bgCover  noBorder borderSolid border3px cornersAll radius0 shadow0 P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
        <div class="de ui-droppable de-editable" id="headline-96042" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="ran" data-animate="top" data-delay="500" style="margin-top: 30px; outline: none; cursor: pointer; opacity: 1; position: relative; top: 0px;" aria-disabled="false">
          <div class="no-catch-description ne elHeadline lh3 elMargin0 elBGStyle0 hsTextShadow0 hsSize2 mfs_16" style="" data-bold="inherit" contenteditable="false">
            <div>
              Like I mentioned before, <b>THIS IS ALL MY BEST STUFF</b>. All I ask is that you pay less then you did for lunch!
            </div>
            <div><br></div>
            <div>Oh, and in case you're wondering...</div>
            <div><br></div>
          </div>
        </div>
        <div class="de elSeperator elMargin0 ui-droppable de-editable" id="tmp_divider-96858" data-de-type="divider" data-de-editing="false" data-title="Divider" data-ce="false" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 0px; outline: none; cursor: pointer;" aria-disabled="false">
          <div class="elDivider elDividerStyle1 padding10-top padding10-bottom">
            <div class="elDividerInner" data-align="center" data-width-border="75" data-height-border="2" style="border-color: rgb(70, 117, 185);"></div>
          </div>
        </div>
        <div class="de ui-droppable de-editable" id="headline-30406" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="ran" data-animate="top" data-delay="500" style="outline: none; cursor: pointer; opacity: 1; position: relative; top: 0px;" aria-disabled="false">
          <div class="no-catch-header ne elHeadline elMargin0 elBGStyle0 hsTextShadow0 hsSize4 lh1 deneg1pxLetterSpacing mfs_35" data-bold="inherit" contenteditable="false">
            <b>There Is NO CATCH!</b></div>
        </div>
        <div class="de elSeperator elMargin0 ui-droppable de-editable" id="divider-33698" data-de-type="divider" data-de-editing="false" data-title="Divider" data-ce="false" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 0px; outline: none; cursor: pointer;" aria-disabled="false">
          <div class="elDivider elDividerStyle1 padding10-top padding10-bottom">
            <div class="elDividerInner" data-align="center" data-width-border="75" data-height-border="2" style="border-color: rgb(70, 117, 185);"></div>
          </div>
        </div>
        <div class="de ui-droppable de-editable" id="headline-18020" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="ran" data-animate="top" data-delay="500" style="margin-top: 20px; outline: none; cursor: pointer; opacity: 1; position: relative; top: 0px;" aria-disabled="false">
          <div class="no-catch-description ne elHeadline lh3 elMargin0 elBGStyle0 hsTextShadow0 hsSize2 mfs_16" data-bold="inherit" contenteditable="false">
            <div>I know there are some websites out there that offer you something cool, but then stick you.
            </div>
            <div><br></div>
            <div><b>This isn't one of them.</b></div>
            <div><br></div>
            <div>There's <b>NO hidden gotchas</b> - and in case you're wondering why I'm doing this...
            </div>
            <div><br></div>
            <div>Well, there are actually a few reasons...</div>
          </div>
        </div>
        <div class="no-catch-description-list de elBullet elMargin0 ui-droppable mfs_16 de-editable" id="list-39132" data-de-type="list" data-de-editing="false" data-title="nicebullets" data-ce="true" data-trigger="none" data-animate="fade" data-delay="500" data-gramm="false" style="" data-margin-top="8px" aria-disabled="false">
          <ul class="ne elBulletList elBulletListNew elBulletList2 listBorder0" data-bold="inherit" data-gramm="false" contenteditable="false">
            <li>
              <i class="fa fa-fw fa-check" contenteditable="false"></i><b>It's my way of paying it forward, </b>
              playing guitar is only hard if you don't know what to do.
            </li>
            <li>
              <i class="fa fa-fw fa-check"></i><b>&ZeroWidthSpace;</b>
              <b>I hope to create a more immersive and engaging experience.</b> By being available to answer all your questions.
            </li>
            <li>
              <i class="fa fa-fw fa-check"></i><b style="color: inherit;">&ZeroWidthSpace;I get to introduce myself to you, </b><span style="color: inherit;">and when you see how awesome this content is, I know you'll want to stick around and perhaps check out my music. ;)</span>
            </li>
            <li>
              <i class="fa fa-fw fa-check"></i>
              <b>&ZeroWidthSpace;I'm kinda a show off... </b>
              We believe that music is meant to be shared and it should not cost $100,000 and a degree to learn the good stuff. :)<br>
            </li>
          </ul>
        </div>
        <div class="de ui-droppable de-editable" id="headline-44284" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="ran" data-animate="top" data-delay="500" style="outline: none; cursor: pointer; opacity: 1; position: relative; top: 0px;" aria-disabled="false">
          <div class="no-catch-header ne elHeadline elMargin0 elBGStyle0 hsTextShadow0 hsSize4 lh1 deneg1pxLetterSpacing mfs_35" data-bold="inherit" contenteditable="false">
            <b>Time Is Of The Essence...</b></div>
        </div>
        <div class="de ui-droppable de-editable" id="headline-25313" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="ran" data-animate="top" data-delay="500" style="margin-top: 20px; outline: none; cursor: pointer; opacity: 1; position: relative; top: 0px;" aria-disabled="false">
          <div class="no-catch-description ne elHeadline lh3 elMargin0 elBGStyle0 hsTextShadow0 hsSize2 mfs_16" data-bold="inherit" contenteditable="false">
            <div>Here's why...</div>
            <div><br></div>
            <div>I'm going to be raising prices once this community gets to a certain number, I have to keep the number managable so I can give everyone the help they need.
            </div>
            <div><br></div>
            <div>If this page is still here, then the offer is live. But I reserve the right to pull it down at any
              time.
            </div>
          </div>
        </div>
        <div class="de elSeperator elMargin0 ui-droppable de-editable" id="divider-72445" data-de-type="divider" data-de-editing="false" data-title="Divider" data-ce="false" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 20px; outline: none; cursor: pointer;" aria-disabled="false">
          <div class="elDivider elDividerStyle1 padding10-top padding10-bottom">
            <div class="elDividerInner" data-align="center" data-width-border="75" data-height-border="2" style="border-color: rgb(70, 117, 185);"></div>
          </div>
        </div>
        <!--        <div class="de ui-droppable de-editable" id="headline-20613" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="ran" data-animate="top" data-delay="500" style="outline: none; cursor: pointer; margin-top: 0px; opacity: 1; position: relative; top: 0px;" aria-disabled="false">-->
        <!--          <div class="ne elHeadline elMargin0 elBGStyle0 hsTextShadow0 hsSize4 lh1 deneg1pxLetterSpacing mfs_35" style="text-align: center; color: rgb(45, 45, 45); font-size: 52px;" data-bold="inherit" contenteditable="false">-->
        <!--            <b>Here Is My "You've Gotta Be Crazy" Guarantee</b></div>-->
        <!--        </div>-->
        <!--        <div class="de elSeperator elMargin0 ui-droppable de-editable" id="divider-74696" data-de-type="divider" data-de-editing="false" data-title="Divider" data-ce="false" data-trigger="none" data-animate="fade" data-delay="500" style="margin-top: 0px; outline: none; cursor: pointer;" aria-disabled="false">-->
        <!--          <div class="elDivider elDividerStyle1 padding10-top padding10-bottom">-->
        <!--            <div class="elDividerInner" data-align="center" data-width-border="75" data-height-border="2" style="border-color: rgb(70, 117, 185);"></div>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--        <div class="de ui-droppable de-editable" id="headline-11371" data-de-type="headline" data-de-editing="false" data-title="headline" data-ce="true" data-trigger="ran" data-animate="top" data-delay="500" style="margin-top: 20px; outline: none; cursor: pointer; opacity: 1; position: relative; top: 0px;" aria-disabled="false">-->
        <!--          <div class="ne elHeadline lh3 elMargin0 elBGStyle0 hsTextShadow0 hsSize2 mfs_16" style="text-align: left; color: rgb(45, 45, 45); font-size: 20px;" data-bold="inherit" contenteditable="false">-->
        <!--            <div>I'm going to <b>100% guarantee that you'll love this album</b>, or I'll return your $9.99 and let you keep-->
        <!--              the album anyway.-->
        <!--            </div>-->
        <!--            <div><br></div>-->
        <!--            <div>That's right. Just email me or call the number on your receipt and I'll give you back your money with no question asked.-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
      </div>
    </div>
  </div>
</section>