#navbar {
  border-color: rgb(71, 117, 185);
  border-bottom-width: 5px;
  border-bottom-style: solid;

  #navbar-brand {
    font-size: 2em;
    text-decoration: none;
    //margin: auto;
  }

  .navbar-expand-lg {
    .navbar-nav {
      flex-direction: row-reverse !important;
    }
  }

  #nav-bar-links-container {
    .navbar-link {
      margin-left: 20px;
      text-decoration: none;
    }
  }
}