#video-landing-header {
  text-align: center;
}
.landing-page-navbar {
  background: rgb(37, 37, 37);
  border-color: rgb(71, 117, 185);
  border-bottom-width: 5px;
  border-bottom-style: solid;
  height: 75px;
  .navbar-brand {
    font-size: 2em;
    margin: auto;
  }
}

.page-header-ui {
  .page-header-ui-content {
    .page-header-ui-title {
      //font-size: 3.5rem;
      font-size: 2rem;
      font-weight: 700;
      color: rgb(45, 45, 45);
      font-family: Montserrat, Helvetica, sans-serif !important;
    }
  }
}

.content-card {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  align-content: center;
}

#show-modal-button {
  height: 50px;
  width: 100%;
  color: rgb(255, 255, 255);
  background: rgb(71, 117, 185) none repeat scroll 0% 0%;
  font-size: 22px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  font-family: Montserrat, Helvetica, sans-serif !important;
  margin-bottom: 20px;
  i {
    margin-right: 5px;
  }
  p {
    margin-top: 15px;
  }
}

.bonus-offer {
  margin-top: 20px;
  margin-bottom: 20px;
  .bonus-offer-header {

  }
  .bonus-offer-body {
    border-width: 1px;
    border-style: solid;
  }
}

.elButtonList {
  padding: 0px;
  list-style-type: none;
  [data-title*='nicebullets'] li:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #4775b9;
    border-radius: 50px;
    box-shadow: rgba(71, 117, 185, .25) 0 0 0 6px;
    margin-top: 6px;
    left: 0px !important;
    position: absolute;
  }
}

.everything-you-get-final-price {
  font-size: 200px;
  text-align: center;
  color: rgb(71, 117, 185);
}


.everything-you-get {
  margin-top: 20px;
  margin-bottom: 20px;

  .everything-you-get-header {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px auto;
    width: 65%;
    max-width: 100%;
    outline: none;
    background-color: rgb(71, 117, 185);
    border-color: rgb(71, 117, 185);
  }
  .everything-you-get-body {
    border-width: 1px;
    border-style: solid;

    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px auto;
    width: 65%;
    max-width: 100%;
    outline: none;
    border-color: rgb(71, 117, 185);
  }
}

.bonus-offer-image-container {
  text-align: center;
}




#funnel-footer {
  border-width: 10px 0 0 0;
  border-style: solid;
  text-align: center;
  font-family: Montserrat, Helvetica, sans-serif !important;
  .footer-brand {
    font-size: 2em;
    margin: auto;
  }
  .footer-links {
    display: inline-block;
    padding-right: 30px;
  }
}

.bonus-offer-item-header {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px auto;
  width: 65%;
  max-width: 100%;
  outline: none;
  background-color: rgb(71, 117, 185);
  border-color: rgb(71, 117, 185);
}

.bonus-offer-item-header-text {
  text-align: center;
  color: rgb(45, 45, 45);
  font-size: 34px;
}

.bonus-offer-item-body {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px auto;
  width: 65%;
  max-width: 100%;
  outline: none;
  border-color: rgb(71, 117, 185);
}

.bonus-offer-item-body-headline {
  text-align: center; color: rgb(45, 45, 45); font-size: 34px;
}

.bonus-offer-item-body-description {
  text-align: left;
  color: rgb(45, 45, 45);
  font-family: Montserrat, Helvetica, sans-serif !important;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 15px;
}

.bonus-offer-item-body-total-value {
  text-align: center;
  color: rgb(228, 59, 44);
  font-size: 34px;
}

.everything-you-get-header {
  text-align: center;
  color: rgb(45, 45, 45);
  font-size: 34px;
  letter-spacing: -1px;
}

.no-catch-description {
  text-align: left;
  color: rgb(45, 45, 45);
  font-size: 20px;
}

.no-catch-description-list {
  color: #2d2d2d;
  margin-top: 20px;
  outline: none;
  cursor: pointer;
  margin-left: 24px;
  font-size: 18px;
  position: relative;
  ul {
    list-style-type: none;
  }
  li {
    margin-top: 8px;
  }
}


.no-catch-header {
  text-align: center;
  color: rgb(45, 45, 45);
  font-size: 52px;
}

[data-title*='nicebullets'] li:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #4775b9;
  border-radius: 50px;
  box-shadow: rgba(71, 117, 185, .25) 0 0 0 6px;
  margin-top: 6px;
  left: 0;
}

.elDivider {
  display: block;
}
.elDividerInner {
  border-color: rgb(70, 117, 185);
  border-top-style: solid;
  width: 75%;
  margin-left: 12%;
  border-top-width: 2px;
}

.everything-you-get-body-item-name {
  text-align: left;
  color: rgb(45, 45, 45);
  font-size: 24px;
}

.everything-you-get-body-item-value {
  text-align: right;
  font-size: 24px;
  color: rgb(228, 59, 44);
}

.everything-you-get-grand-total-value {
  text-align: center;
  font-size: 44px;
  color: rgb(228, 59, 44);
}

.everything-you-get-body-secondary-text {
  text-align: center;
  color: rgb(45, 45, 45);
  font-size: 34px;
}

.everything-you-get-final-price {

}

@media screen and (max-width: 800px) {


  .no-catch-header {
    font-size: 35px;
  }

  .landing-page-navbar .navbar-brand {
    font-size: 1.5em;
    margin: auto;
  }

  .bonus-offer-item-body-description {
    font-size: 16px;
  }

  .everything-you-get-final-price {
    font-size: 50px;
  }

  .bonus-offer-item {

  }

  .everything-you-get {
    .everything-you-get-header,
    .everything-you-get-body {
      width: 100%;
    }
  }

  .everything-you-get-body-item-name {
    text-align: center;
    font-size: 18px;
  }
  .everything-you-get-body-item-value {
    text-align: center;
    font-size: 18px;
  }

  .everything-you-get-grand-total-value {
    font-size: 26px;
  }

  .everything-you-get-body-secondary-text {
    font-size: 26px;
  }

  .bonus-offer-item-header,
  .bonus-offer-item-body {
    width: 100%;
  }
  .innerContent {
    padding: 0px !important;
  }

  #show-modal-button {
    height: 100px;
    white-space: normal;
    word-wrap: break-word;
  }

  .bonus-offer-item-body-headline {
    font-size: 25px;
    letter-spacing: -1px;
    line-height: 1em;
  }

  .bonus-offer-item-header-text {
    font-size: 22px;
  }

  .bonus-offer-item-body-total-value {
    font-size: 25px;
  }

  .everything-you-get-header {
    text-align: center;
    color: rgb(45, 45, 45);
    font-size: 22px;
  }

  .no-catch-description {
    font-size: 16px;
  }

  .no-catch-description-list {
    font-size: 16px;
  }


}

@media screen and (max-width: 600px) {
  .landing-page-navbar .navbar-brand {
    font-size: 1em;
    margin: auto;
  }
}